footer {
    background-color: #B1AB86;
    @include altoyancho(10rem, unset);
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        @include altoyancho(3rem, 3rem);
        object-fit: cover;
    }
}

