# Archivos del sistema
.DS_Store
Thumbs.db
*.~*

# Archivos temporales de editores y backups
*.log
*.tmp
*.swp
*.swo
*.bak
*.old

# Carpetas comunes a excluir
node_modules/
dist/
build/
tmp/
.cache/

# Dependencias o entornos virtuales
.env
.env.local
.vscode/
.idea/

# Salida de herramienta Sass 
*.map


